option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: bookstore.wsgi:application

container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01syncdb:
    command: "python manage.py makemigrations"
    leader_only: true
  02migrate:
    command: "python manage.py  migrate"
    leader_only: true